body {
  background: #232222 none repeat scroll 0 0;
  color: #fefefe;
  font-family: Verdana;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container {
  text-align: center;
}

.figureWrapper {
  display: inline-block;
}

.answerWrapper {
  display: inline-block;
  width: 60%;
}

.title {
  font-size: 30px;
  margin: 2em 0;
}

.info {
  margin-top: 10px;
  color: #555;
}

.hangman {
  height: 350px;
  margin-top: 20px;
  position: relative;
  width: 350px;
}

.hangman img {
  position: absolute;
  left: 0;
  height: 350px;
}

.output {
  background: #fefefe;
  color: #232222;
  display: inline-block;
  padding: 4px 10px;
}

.answer-box {
  font-size: 50px;
  letter-spacing: 20px;
  margin-top: 30px;
}

.letters ul {
  margin: 0 auto;
  width: 75%;
  margin-top: 25px;
  padding: 0;
}

.letters ul li {
  background: #fbf9f9;
  border-radius: 3px;
  color: #222;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin:3px;
  padding: 8px;
  width: 30px;
  transition: background-color ease 0.2s;
}

.letters ul li:hover {
  background: #F7DE31;
}

.letters ul .picked {
  background: #423F40;
  color: #212121;
  cursor: default;
}

.letters ul .picked:hover {
  background: #423F40;
}

.nextButton {
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
  margin-top: 25px;
  padding: 10px 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nextButton:hover {
  background: #fefefe;
  color: #222;
}

.hint, .streak {
  margin-top: 15px;
}

@media only screen and (max-width: 890px) {
  .title {
    margin: 0.3em 0;
  }
  .answerWrapper {
    width: 100%;
    margin-top: 2em;
  }
  .answer-box {
    font-size: 22px;
    letter-spacing: 10px;
    margin-top: 30px;
  }
  .hangman img, .hangman {
    height: 250px;
  }
  .hangman {
    width: 225px;
  }
  .letters ul {
    width: 90%;
  }
}
